html, body{
    /* align-items: center; */
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
}

.box{
    width: 55vh;
    height: 85vh;
    background-color: rgba(71, 71, 71, 0.831);
    border-radius: 8px;
    border: 1px solid white;
}

#hp::before{
    content: "🫀";
}

#food::before{
    content: "🍔";
}

#money::before{
    content: "💵";
}

.cat_info{
    height: 15%;
}

#CatArea{
    height: 60%;
}

#cat{
    width: 254px;
    height: 254px;
}

.itemShop img{
    width: 100px;
    height: 100px;
}

#Toilet::before{
    content: "🚽";
}

#cat:checked {
    animation: pulse 2s;
    transition: 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

#cat {
    transition: transform 0.3s;
}

/* Ez az osztály adja az animációt */
.pulse {
    animation: pulse 0.5s forwards;
}

#cat {
    transition: transform 0.3s;
}

.pulse {
    animation: pulse 0.5s forwards;
}

#cat {
    transition: transform 0.3s;
}

.pulse {
    animation: pulse 0.5s forwards;
}

@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}